/* CSS Document */
/*
用到的版面
index_skin.tpl
*/

<STYLE TYPE="text/css" >
<!--
.index_bottom_con {	font-size: 12px;
   	font-family: "新細明體";color: #333333;
}
.index_bottom_copy {font-size: 12px;font-family: "新細明體";color: #666666;}

.index_bottom_but {font-size: 12px; font-family: "新細明體"; color: #000000; }

.page_switch_number{
	font-weight:bold;
	font-size: 12px;
	color: #000000;
}
.page_switch{
	font-size: 11px;
	color: #444444;
}
-->
</STYLE>
